.elaborate-page {
    background-color: #F2F2F2;
    padding: 30px 20px 20px 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 300px;
    box-sizing: border-box;
    font-family: 'Pretendard', sans-serif;
}

.elaborate-header h2 {
    font-size: 36px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 8px;
}

.elaborate-header p {
    font-size: 18px;
    font-weight: 500;
    color: #555;
    line-height: 1.5;
    min-height: 27px;
}

.mindy-container {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mindy-image {
  width: 300px;
  height: 300px;
  transition: transform 0.3s ease-in-out;
}

.mindy-image.speaking {
  transform: scale(1.05);
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1.05);
  }
  50% {
    transform: scale(1.08);
  }
  100% {
    transform: scale(1.05);
  }
}


.chat-controls {
    margin-bottom: 20px;
}

.start-ela-btn, .stop-ela-btn {
    margin-top : 30px;
    padding:18px 80px;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.1s;
}

.start-ela-btn {
  background-color: #7C88FF;
  color: white;
}
.start-ela-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
.start-ela-btn:not(:disabled):hover {
  background-color: #5e6ce6;
}
.start-ela-btn:active {
    transform: scale(0.95);
}

.stop-ela-btn {
  background-color: #FF6E6E;
  color: white;
}
.stop-ela-btn:hover {
  background-color: #e95757;
}
.stop-ela-btn:active {
    transform: scale(0.95);
}


.end-chat-btn {
    background: none;
    border: none;
    color: #888;
    text-decoration: underline;
    cursor: pointer;
    font-size: 16px;
}
